<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>DayOne Reset Password</title>
  <!-- Other meta tags and scripts -->
</head>
  <body class="flex justify-center items-center flex-col gap-5 font">
    <h1 class="text-lg text-blue-500 my-4">Reset Password</h1>
    <h4>Forgotten your Password?</h4>
    <p>Click the button below <%= @name %> to reset your password</p>
    <a class="bg-blue-500 text-white rounded-md px-4 py-2" href=<%= "https://google.com?token=#{@token}" %>>Reset Password</a>
    <small>Link will become invalid after 5 minutes</small>
  </body>
</html>
